*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #dea3bc;
}

.main-card {
    background: #ba879c;
    display: flex; 
    align-items: stretch;
    gap: 0;
    border-radius: 20px;
}

.gameCard {
    background: #ba879c;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 400px;
    z-index: 2; 
    text-align: center;
}


.side-panel {
    background: #ba879c;
    width: 0; 
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}


.side-panel.active {
    width: 250px;
    opacity: 1;
    padding: 20px;
    margin-left: -10px; 
    border: 1px solid #ddd;
}