* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #dea3bc; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-grid {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}


.grid {
    background:#ba879c;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 25px;
    font-size: 28px;
}


input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff; /* Odaklandığında mavi çerçeve */
}


button {
    width: 100%;
    padding: 12px;
    background-color: #dea3bc;
    color: #333;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #0056b3; /* Hover durumunda koyu mavi */
}

button:active {
    transform: scale(0.98); /* Tıklandığında hafif küçülme efekti */
}